body{
    background-color: rgb(163, 201, 107);
}

/* Logo */
#primeira_parte{
    background-color: white;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 160px;
}
#primeira_parte img{
    margin-top: 10px;
}

/* Carrossel*/
#slider {
    position: relative; 
    height: 350px;
    width: 80%;
    max-height: 250px;
    margin: 50px 50% 0% 10%;
}
#slider img{
    opacity: 0;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 350px;
    transition: opacity 800ms; 
    border-radius: 25px;
    box-shadow: 0 0 15px black;
}
#slider img.selected { 
    opacity: 1;
}

/* Nótica */
.containerNoticia{
    display: flex ;
    justify-content: space-between;
    margin: 20px 10px 100px 10px;
}
.containerNoticia img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.containerNoticia .noticia{
    box-shadow: 0 0 10px black;
    margin: 0px 10px 0px 10px;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.containerNoticia .noticia p{
    margin: 0 10px 0 10px;
}

/* Root structure */
/* 2º Carrocel  */

:root {
    --color-primary: #000000;
    --color-secondary: #000000;
    --color-tertiary: #000000;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  /* Gallery list layout */
  
  .gallery {
    position: relative;
    width: 600px;
    height: 650px;
    list-style: none;
  }
  
  
  /* Individual item a.k.a "slide" structure */
  /* Tamanho do carrosel */
  .slide {
    position: absolute;
    top: 200px;
    width: 100%;
    height: 60%;
    background-color: white;
    border-radius: 25px;
    padding: 50px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    transition: all 0.3s;
  }
  
  
  /* Slide states */
  
  .slide.active {
    opacity: 1;
    z-index: 2;
    transform: translate(0px) scale(1);
  }
  
  .slide.lqueue {
    opacity: 0.64;
    z-index: 1;
    transform: translate(-100%) scale(0.64);
  }
  
  .slide.rqueue {
    opacity: 0.64;
    z-index: 1;
    transform: translate(100%) scale(0.64);
  }
  
  .slide.lhidden {
    opacity: 0;
    z-index: auto;
    transform: translate(-160%) scale(0);
  }
  
  .slide.rhidden {
    opacity: 0;
    z-index: auto;
    transform: translate(160%) scale(0);
  }
  
  .slide.lqueue *,
  .slide.rqueue *,
  .slide.lhidden *,
  .slide.rhidden * {
    pointer-events: none;
  }
  
  .slide.lqueue *::selection,
  .slide.rqueue *::selection,
  .slide.lhidden *::selection,
  .slide.rhidden *::selection {
    background-color: transparent;
  }
  
  
  /* Slide specifics */
  /* foto */
  .slide--picture {
    width: 70%;
    height: 70%;
    object-position: top;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 30px;
  }
  /* Descrição */
  .slide--name,
  .slide--description {
    width: 100%;
  }
  
  .slide--name {
    color: var(--color-primary); 
  }
  
  .slide--description {  
    color: var(--color-secondary);
  }